In [101]:
import pandas as pd 
import requests
import os 
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
%matplotlib inline

In [102]:
load_dotenv(".env")

True

In [103]:
alpaca_api_key = os.getenv("ALPACA_A_KEY")
alpaca_secret_key = os.getenv("ALPACA_S_KEY")

In [104]:
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [105]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [106]:
# Set the Tesla and Coca-Cola ticker symbols

tickers = ["TSLA", "SPY"]

In [107]:
# Set timeframe to '1Day'

timeframe = "1Day"

In [108]:
# Set start and end datetimes of 1 year, between now and 365 days ago.

start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

In [109]:
# Get 1 year's worth of historical data for Tesla and Coca-Cola

prices_df = alpaca.get_bars(
    tickers, 
    timeframe, 
    start=start_date,
    end=end_date
).df 

prices_df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-05-01 04:00:00+00:00,294.76,294.9500,291.8000,291.81,71921870,337374,293.457138,SPY
2019-05-02 04:00:00+00:00,291.68,292.7000,289.5200,291.18,65058183,342564,291.101680,SPY
2019-05-03 04:00:00+00:00,292.80,294.3400,291.2998,294.03,56579556,249557,293.438891,SPY
2019-05-06 04:00:00+00:00,289.24,293.3100,288.9000,292.82,107250892,390959,291.952803,SPY
2019-05-07 04:00:00+00:00,290.15,290.8100,285.8100,287.93,145292657,618594,288.280747,SPY
...,...,...,...,...,...,...,...,...
2020-04-27 04:00:00+00:00,737.61,799.4900,735.0000,798.75,20681442,433976,783.972936,TSLA
2020-04-28 04:00:00+00:00,795.30,805.0000,756.6900,769.12,15222719,313311,776.861887,TSLA
2020-04-29 04:00:00+00:00,791.68,803.1999,783.1600,800.51,16223632,369255,806.504911,TSLA
2020-04-30 04:00:00+00:00,855.00,869.8200,763.5000,781.88,28477961,615142,814.171635,TSLA
2020-05-01 04:00:00+00:00,755.00,772.7700,683.0400,701.32,32544885,728694,719.397692,TSLA

In [110]:
# Reorganize the DataFrame

TSLA = prices_df[prices_df['symbol']=='TSLA'].drop('symbol', axis=1)
SPY = prices_df[prices_df['symbol']=='SPY'].drop('symbol', axis=1)

In [111]:
# Concatenate the ticker DataFrames

prices_df = pd.concat([TSLA, SPY], axis=1, keys=["TSLA", "SPY"])

In [112]:
# Display sample data

prices_df.head()
prices_df.tail()

                             TSLA                                      \
                             open      high     low   close    volume
timestamp
2020-04-27 04:00:00+00:00  737.61  799.4900  735.00  798.75  20681442
2020-04-28 04:00:00+00:00  795.30  805.0000  756.69  769.12  15222719
2020-04-29 04:00:00+00:00  791.68  803.1999  783.16  800.51  16223632
2020-04-30 04:00:00+00:00  855.00  869.8200  763.50  781.88  28477961
2020-05-01 04:00:00+00:00  755.00  772.7700  683.04  701.32  32544885

                                                      SPY                    \
                          trade_count        vwap    open      high     low
timestamp
2020-04-27 04:00:00+00:00      433976  783.972936  285.02  288.2700  284.62
2020-04-28 04:00:00+00:00      313311  776.861887  291.00  291.4000  285.40
2020-04-29 04:00:00+00:00      369255  806.504911  291.59  294.8800  290.41
2020-04-30 04:00:00+00:00      615142  814.171635  291.69  293.3239  288.59
2020-05-01 04:00:00+00:00      728694  719.397692  285.16  290.6572  281.52


                            close     volume trade_count        vwap
timestamp
2020-04-27 04:00:00+00:00  287.05   78438758      430208  286.528977
2020-04-28 04:00:00+00:00  285.73  106308658      582617  287.789471
2020-04-29 04:00:00+00:00  293.21  118773506      643393  292.698945
2020-04-30 04:00:00+00:00  290.48  123004196      650786  290.584102
2020-05-01 04:00:00+00:00  282.79  125180028      639987  284.092832

In [113]:
# Create an empty `closing_prices_df` DataFrame using Pandas

closing_prices_df = pd.DataFrame()

In [114]:
# Populate the `closing_prices_df` DataFrame by accessing the `close` column from the `prices_df` DataFrame for both KO and TSLA .

closing_prices_df["SPY"] = prices_df["SPY"]["close"]
closing_prices_df["TSLA"] = prices_df["TSLA"]["close"]

In [115]:
# Update the index for the `closing_prices_df` DataFrame to retain only the `date` component.

closing_prices_df.index = closing_prices_df.index.date

In [116]:
# Compute the `daily_returns_df` DataFrame by chaining the pct_change function with the dropna function.

daily_returns_df = closing_prices_df.pct_change().dropna()

In [118]:
# Display both the head and tail of the `daily_returns_df` DataFrame

display(daily_returns_df.head())
display(daily_returns_df.tail())

                 SPY      TSLA
2019-05-02 -0.002159  0.043118
2019-05-03  0.009788  0.044777
2019-05-06 -0.004115  0.001216
2019-05-07 -0.016700 -0.032427
2019-05-08 -0.001389 -0.008986

                 SPY      TSLA
2020-04-27  0.014418  0.101496
2020-04-28 -0.004599 -0.037095
2020-04-29  0.026179  0.040813
2020-04-30 -0.009311 -0.023273
2020-05-01 -0.026473 -0.103034

In [ ]:
# Generate summary statistics for the `daily_returns_df` DataFrame

daily_return_df.describe()